{% extends 'base.html' %}

{% block content %}
<!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

<h2>Add Post</h2>
<form method="POST" class="my-4" id="postForm">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label(class="mb-2") }}
        {{ form.title(class="form-control", placeholder="title") }}
    </div>
    </br>
    <div class="form-group" style="display:none">
        {{ form.content(class="form-control", placeholder="content", rows="5") }}
    </div>
    <div class="form-group"> 
        {{ form.content.label(class="mb-2") }}
        <!-- Create the editor container -->
        <div id="editor" id="content" >
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br /></p>
        </div>
    </div>

    <br/>
    <div class="form-group">
        {{ form.slug.label(class="mb-2") }}
        {{ form.slug(class="form-control", placeholder="slug") }}
    </div>
    <br/>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% for user in users %}
    <div>
        <span>{{user.id}} - </span>
        <span> <a href={{url_for('main.update_user', id=user.id)}}>{{user.username}}</a> - </span>
        <span>{{user.email}} - </span>
        <span><button><a href={{ url_for('main.delete_user', id=user.id)}}>Delete</a></button></span>
    </div>
{% endfor %}

<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  const quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>

<script>
    const editor = document.querySelector('.ql-editor');
    const contentTextArea = document.getElementById('content');
    contentTextArea.value = "_";
    console.log(editor.innerHTML);
    const form = document.getElementById('postForm');
    console.log(form);
    form.addEventListener('submit', (e) => {
        console.log("submitting");
        contentTextArea.value = editor.innerHTML;
        console.log("value now is", contentTextArea.value)
    })
</script>

{% endblock %}

