{% extends 'base.html' %}

{% block content %}
<h2>Add Post</h2>
<form method="POST" class="my-4">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label(class="mb-2") }}
        {{ form.title(class="form-control", placeholder="title") }}
    </div>
    <div class="form-group">
        {{ form.content.label(class="mb-2") }}
        {{ form.content(class="form-control", placeholder="content", rows="5") }}
    </div>
    <br/>
    <br/>
    <div class="form-group">
        {{ form.slug.label(class="mb-2") }}
        {{ form.slug(class="form-control", placeholder="slug") }}
    </div>
    <br/>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% for user in users %}
    <div>
        <span>{{user.id}} - </span>
        <span> <a href={{url_for('main.update_user', id=user.id)}}>{{user.username}}</a> - </span>
        <span>{{user.email}} - </span>
        <span><button><a href={{ url_for('main.delete_user', id=user.id)}}>Delete</a></button></span>
    </div>
{% endfor %}

{% endblock %}
