{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Dashboard</h1>
<div>
    <div><p class="mb-2">your role: <strong>{{ current_user.role.name }}</strong></p></div>
    <div><strong>Username</strong>: {{ current_user.username }}</div>
    <div><strong>User Id</strong>: {{ current_user.id }}</div>
    <div><strong>Email</strong>: {{ current_user.email }}</div>
    <div><strong>Date Joined</strong>: {{ current_user.date_added }}</div>
    <div><strong>Name</strong>: {{ current_user.name or ""}}</div>
    <div><strong>About</strong>: {{ current_user.about or ""}}</div>
</div>
<div>
    <a href="{{url_for('main.update_user', id=current_user.id)}}">Edit Profile</a>
    <a href="{{url_for('main.delete_user', id=current_user.id)}}">Delete Profile</a>
</div>
{% else %}
<div>Must be logged in...</div>
{% endif %}
{% endblock %}
