<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    </style>
</head>
<body>
    <form method="POST">
        <div>
            <label for="name">Name (english lowercase): </label>       
            <input type="text" id="name" name="name" pattern="[a-z]{2,16}" required>
        </div>
        <div>
            <label for="name">URL: </label>       
            <a href="https://www.iconarchive.com/">for icons</a>
            <input type="text" id="url" name="url" pattern="^https://.*\.png$" required>
            <p>Example: https://icons.iconarchive.com/icons/benjigarner/softdimension/72/Opera-icon.png</p>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
