<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span.hint {
            font-style: italic;
            color: grey;
        }
        ul.browsers {
            list-style-type: none;
            display: flex;
            gap: 2rem;
            align-items: center;
        }
        .browser--new {
            margin-left: 2rem;
        }
        li:not(.browser--new) {
            width: 72px;
            height: 72px;
        }
    </style>
</head>
<body>
    <p>Выберите ваш браузер. <span class="hint"> (Подсказка: скорее всего, это {{user_browser}})</span></p>
    <ul class="browsers">
        {% for browser in browsers %}
            <li><a href="browser/{{browser['name']}}"><img src="{{ browser['url'] }} " width="72" height="72">
        </a></li>
        {% endfor %}
        <li class="browser--new"><a href="/browser/create"><img src="https://icons.iconarchive.com/icons/kyo-tux/delikate/32/Add-icon.png" width="32" height="32">
        </a></li>
    </ul>
</body>
</html>
